@page "/RegisterPatient"
@using Microsoft.Extensions.Localization;
@using Sureze.LIS.Application.Contracts.Dtos.Commons;
@using Sureze.LIS.Application.Contracts.Services;
@using Sureze.LIS.Blazor.HelperComponents
@using Sureze.LIS.Dtos.Patients;
@using Sureze.LIS.Localization;
@using System.IO;
@using Sureze.LIS.Permissions;
@using Volo.Abp.Application.Dtos;
@using Volo.Abp.AspNetCore.Components.Web;


@inject NavigationManager navigation
@inject IStringLocalizer<LISResource> Res
@inject AbpBlazorMessageLocalizerHelper<LISResource> LH
@inherits AbpCrudPageBase<IPatientAppService,
        PatientDto, int, PagedAndSortedResultRequestDto,
        CreatePatientDto, UpdatePatientDto>

@code {

    IReadOnlyList<PrimaryProviderLookupDto> primaryProviderList = Array.Empty<PrimaryProviderLookupDto>();
    IReadOnlyList<InActiveStatusLookupDto> inActiveStatusList = Array.Empty<InActiveStatusLookupDto>();
    IReadOnlyList<AlternateIDTypeLookupDto> alternateIDTypeList = Array.Empty<AlternateIDTypeLookupDto>();
    IReadOnlyList<GenderLookupDto> genderList = Array.Empty<GenderLookupDto>();
    IReadOnlyList<RaceLookupDto> raceList = Array.Empty<RaceLookupDto>();
    IReadOnlyList<LanguageLookupDto> languageList = Array.Empty<LanguageLookupDto>();
    IReadOnlyList<EthnicityLookupDto> ethnicityList = Array.Empty<EthnicityLookupDto>();
    IReadOnlyList<EducationLevelLookupDto> educationLevelList = Array.Empty<EducationLevelLookupDto>();
    IReadOnlyList<NationalityLookupDto> nationalityList = Array.Empty<NationalityLookupDto>();
    IReadOnlyList<CitizenLookupDto> citizenList = Array.Empty<CitizenLookupDto>();
    IReadOnlyList<ReligionLookupDto> religionList = Array.Empty<ReligionLookupDto>();
    IReadOnlyList<MaritalStatusLookupDto> maritalStatusList = Array.Empty<MaritalStatusLookupDto>();
    IReadOnlyList<PatientCategoryLookupDto> patientCategoryList = Array.Empty<PatientCategoryLookupDto>();
    IReadOnlyList<NamePrefixLookupDto> namePrefixList = Array.Empty<NamePrefixLookupDto>();




    public RegisterPatient()
    {
        CreatePolicyName = LISPermissions.Patients.Create;

    }




    protected async override Task SetPermissionsAsync()
    {
        //var isGranted = await AuthorizationService
        //     .IsGrantedAsync(LISPermissions.Patients.Create);
        //if (!isGranted)
        //    navigation.NavigateTo("/");
        await base.SetPermissionsAsync();
        //await base.CheckCreatePolicyAsync();
    }

    protected async override Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        primaryProviderList = (await AppService.GetPrimaryProviderLookupAsync()).Items;
        inActiveStatusList = (await AppService.GetInActiveStatusLookupAsync()).Items;
        alternateIDTypeList = (await AppService.GetAlternateIDTypeLookupAsync()).Items;
        genderList = (await AppService.GetGenderLookupAsync()).Items;
        raceList = (await AppService.GetRaceLookupAsync()).Items;
        languageList = (await AppService.GetLanguageLookupAsync()).Items;
        ethnicityList = (await AppService.GetEthnicityLookupAsync()).Items;
        educationLevelList = (await AppService.GetEducationLevelLookupAsync()).Items;
        nationalityList = (await AppService.GetNationalityLookupAsync()).Items;
        citizenList = (await AppService.GetCitizenLookupAsync()).Items;
        religionList = (await AppService.GetReligionLookupAsync()).Items;
        maritalStatusList = (await AppService.GetMaritalStatusLookupAsync()).Items;
        patientCategoryList = (await AppService.GetPatientCategoryLookupAsync()).Items;
        namePrefixList = (await AppService.GetNamePrefixLookupAsync()).Items;

        NewEntity.InActiveStatusId = inActiveStatusList.FirstOrDefault().Id;

        defaultProfileImageSrc = navigation.ToAbsoluteUri("/images/avatar2.png").ToString();

    }
    protected async override Task CreateEntityAsync()
    {
        await base.CreateEntityAsync();
    }
    protected override Task OnCreatingEntityAsync()
    {
        return base.OnCreatingEntityAsync();
    }

    protected override Task OnCreatedEntityAsync()
    {
        navigation.NavigateTo("/patients");
        return base.OnCreatedEntityAsync();
    }
    async Task OnProfilePictureChanged(FileChangedEventArgs e)
    {
        if (e.Files.Length > 0)
        {
            using (MemoryStream result = new MemoryStream())
            {
                var file = e.Files[0];
                await file.OpenReadStream(1 * 1024 * 1024).CopyToAsync(result);

                NewEntity.ProfilePicture = result.GetBuffer();

                profileImageSrc = $"data:image/png;base64,{Convert.ToBase64String(NewEntity.ProfilePicture)}";
                defaultProfileImageSrc = profileImageSrc;

                file.Status = FileEntryStatus.Uploaded;
            }

        }
    }

    private FilePicker filePickerCustom;
    private FileEdit fileEdit;
    private string profileImageSrc;
    private string defaultProfileImageSrc;
    DatePicker<DateOnly?> dobDatePicker;
    string mrn;
}

@if(!HasCreatePermission)
{
    <p>You do not have permission to create patient...</p>
}

else{
    
<Row>
    <Column ColumnSize="ColumnSize.Is3.OnTablet.Is2.OnDesktop">
        <Card>
            <CardBody>

                <CardImage Source="@defaultProfileImageSrc" Border="Border.RoundedCircle" />
                <CardTitle TextAlignment="TextAlignment.Center">@NewEntity.FirstName @NewEntity.LastName</CardTitle>
                <CardText TextAlignment="TextAlignment.Center">@NewEntity.MRN</CardText>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is9.OnTablet.Is10.OnDesktop">
        <Card>
            <CardBody>
                <Form>

                    <Div>
                        <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                            <Row>
                                <Column ColumnSize="ColumnSize.Is6">

                                    <DropDownListField Title="@Res["PrimaryProvider"]" TItem="PrimaryProviderLookupDto" TValue="int?"
                                                       Items="primaryProviderList" @bind-SelectedValue="@NewEntity.PrimaryProviderId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>
                                <Column ColumnSize="ColumnSize.Is6">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@Res["MRN"]</FieldLabel>
                                            <TextEdit @bind-Text="@NewEntity.MRN">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <p>@NewEntity.MRN</p>
                                </Column>

                                <Column ColumnSize="ColumnSize.Is12">
                                    <DropDownListField Title="@Res["InActiveStatus"]" TItem="InActiveStatusLookupDto" TValue="int"
                                                       Items="inActiveStatusList" @bind-SelectedValue="@NewEntity.InActiveStatusId"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                        <DropDownListField Title="@Res["NamePrefix"]" TItem="NamePrefixLookupDto" TValue="int?"
                                                           Items="namePrefixList" @bind-SelectedValue="@NewEntity.NamePrefixId" Nullable="true"
                                                           GetValue="g=>g.Id"
                                                           GetText="g=>g.Title" />                                    
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <Field>
                                        <FieldLabel>@Res["Suffix"]</FieldLabel>
                                        <TextEdit @bind-Text="@NewEntity.Suffix">

                                        </TextEdit>
                                    </Field>
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@Res["FirstName"]</FieldLabel>
                                            <TextEdit @bind-Text="@NewEntity.FirstName">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <Field>
                                        <FieldLabel>@Res["LastName"]</FieldLabel>
                                        <TextEdit @bind-Text="@NewEntity.LastName">

                                        </TextEdit>
                                    </Field>
                                </Column>

                                <Column ColumnSize="ColumnSize.Is12">

                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@Res["NationalIDNumber"]</FieldLabel>
                                            <TextEdit @bind-Text="@NewEntity.NationalIDNumber">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">

                                    <DropDownListField Title="@Res["AlternateIDType"]" TItem="AlternateIDTypeLookupDto" TValue="int?"
                                                       Items="alternateIDTypeList" @bind-SelectedValue="@NewEntity.AlternateIDTypeId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>
                                <Column ColumnSize="ColumnSize.Is6">

                                    <Field>
                                        <FieldLabel>@Res["AlternateIDNumber"]</FieldLabel>
                                        <TextEdit @bind-Text="@NewEntity.AlternateIDNumber">

                                        </TextEdit>
                                    </Field>
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <Field>
                                        <FieldLabel>@Res["Date of Birth"]</FieldLabel>
                                        <Addons>
                                            <Addon AddonType="AddonType.Body">

                                                <DatePicker TValue="DateOnly?" @ref="@dobDatePicker" @bind-Date="@NewEntity.DateOfBirth" />
                                            </Addon>
                                            <Addon AddonType="AddonType.End">
                                                <Button Color="Color.Light" Clicked="@(()=>dobDatePicker.ToggleAsync())">
                                                    <Icon Name="IconName.CalendarDay" />
                                                </Button>
                                            </Addon>
                                        </Addons>
                                    </Field>

                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Gender"]" TItem="GenderLookupDto" TValue="int?"
                                                       Items="genderList" @bind-SelectedValue="@NewEntity.SexId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Race"]" TItem="RaceLookupDto" TValue="int?"
                                                       Items="raceList" @bind-SelectedValue="@NewEntity.RaceId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Language"]" TItem="LanguageLookupDto" TValue="int?"
                                                       Items="languageList" @bind-SelectedValue="@NewEntity.LanguageId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Ethnicity"]" TItem="EthnicityLookupDto" TValue="int?"
                                                       Items="ethnicityList" @bind-SelectedValue="@NewEntity.EthnicityId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["EducationLevel"]" TItem="EducationLevelLookupDto" TValue="int?"
                                                       Items="educationLevelList" @bind-SelectedValue="@NewEntity.EducationLevelId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Nationality"]" TItem="NationalityLookupDto" TValue="int?"
                                                       Items="nationalityList" @bind-SelectedValue="@NewEntity.NationalityId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Citizen"]" TItem="CitizenLookupDto" TValue="int?"
                                                       Items="citizenList" @bind-SelectedValue="@NewEntity.CitizenId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["Religion"]" TItem="ReligionLookupDto" TValue="int?"
                                                       Items="religionList" @bind-SelectedValue="@NewEntity.ReligionId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["MaritalStatus"]" TItem="MaritalStatusLookupDto" TValue="int?"
                                                       Items="maritalStatusList" @bind-SelectedValue="@NewEntity.MaritalStatusId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <DropDownListField Title="@Res["PatientCategory"]" TItem="PatientCategoryLookupDto" TValue="int?"
                                                       Items="patientCategoryList" @bind-SelectedValue="@NewEntity.PatientCategoryId" Nullable="true"
                                                       GetValue="g=>g.Id"
                                                       GetText="g=>g.Title" />
                                </Column>

                                <Column ColumnSize="ColumnSize.Is6">
                                    <Field>
                                        <FieldLabel>@Res["ProfilePicture"]</FieldLabel>
                                        <FileEdit Changed="@OnProfilePictureChanged" />

                                        @if (profileImageSrc is not null)
                                        {
                                            <img src="@profileImageSrc" style="height:50px" class="rounded m-2" />
                                        }

                                    </Field>
                                </Column>
                            </Row>

                        </Validations>
                    </Div>
                    <Div>
                        <Button Color="Color.Secondary"
                                Clicked="CloseCreateModalAsync">
                            @Res["Cancel"]
                        </Button>
                        <Button Color="Color.Primary"
                                Type="@ButtonType.Submit"
                                PreventDefaultOnSubmit="true"
                                Clicked="CreateEntityAsync">
                            @Res["Save"]
                        </Button>
                    </Div>
                </Form>
            </CardBody>
        </Card>
    </Column>
</Row>

}